body {
    font-family: Arial, sans-serif;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.container {
    max-width: fit-content;
    margin: auto;
    padding: 25px;
    ;
}

header {
    background-color: #20db3fad;
    color: #0e0f0fad;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}

.add-to-cart {
    background-color: #18e065ad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cart-items {

    list-style: none;

    padding: 0;

}

.product img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #20db3fad;
    color: #0e0f0fad;
    padding: 15px 0;
    text-align: center;
}